<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.GradeManager.app.dao.ScoreMapper">
	<update id="delScore">
	UPDATE score SET  
	normalScore=-1,	
	supplementScore=-1,
	clearScore=-1,
	usualScore=-1	
	WHERE  lessonId = #{lessonId}
	</update>
	<select id="getLessonScore" resultType="com.GradeManager.app.bean.Score">
	SELECT * FROM score WHERE lessonId=#{lessonId}#
	</select>
</mapper>