<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.GradeManager.app.dao.TeacherIndexMapper">
	<select id="getLessons" resultType="java.util.HashMap">
	SELECT * FROM lesson LEFT JOIN course ON lesson.courseId = course.courseId WHERE tId = #{tId}
	</select>
	
</mapper>
